[Unit]
Description=Run Neighborhood Rhythm collector every 5 min

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=neighborhood-rhythm-collector.service

[Install]
WantedBy=timers.target
